@import url('https://fonts.googleapis.com/css2?family=Marvel:ital,wght@1,700&display=swap');
body {	
	font-family: 'Marvel', sans-serif;	
	color: #ffffff;	
	background: linear-gradient(to right, #070304, #570b0b);
}