@import url('https://fonts.googleapis.com/css2?family=Kanit:ital@1&display=swap');
body {	
	font-family: 'Kanit', sans-serif;	
	color: #ffffff;	
	background: linear-gradient(to right, #070304, #570b0b);
}